.fondo{
    background-image: url('https://images.hdqwalls.com/wallpapers/dog-running-bridge-5k-bx.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute; 
}

.card{
    margin-block-end: 70px;
    margin: 30px 180px 20px 480px;
    width: 600px;
    height: 500px;
    background: #f5f5f57b;  
    border-radius: 20px;
    display: flexbox; 
}
   
.card h2{
    color: rgba(252, 98, 42, 0.979);
    margin: -10px 2px 15px 2px;
    text-shadow: rgba(0, 0, 0, 0.877) 0px 4px 4px;
}
   
.card img{
    margin: 0px 0px -60px 0px;
    --size: 300px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    transform: translateY(-40%);
    position: relative;
}
   

   
.button1{
    margin: 40px 1200px 50px 5px;
    padding: 1.3em 3em;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    background-color: rgb(255,255,255,0.3);
    border: none;
    border-radius: 45px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}
      
.button1:hover {
    background-color: rgba(239, 125, 32, 0.881);
    box-shadow: 0px 15px 20px rgba(239, 125, 32, 0.4);
    color: #fff;
    transform: translateY(-7px);
}