.nav{
    display:flex;
    justify-content: space-evenly;
    padding:20px;
    align-items: baseline;
}

.search{
    margin-right: 100px;
    background-color: rgba(255,255,255,0.3);    
    border-radius: 20px;
    padding: 8px;
}

.search input{
    font-style: italic;
    border-radius: 10px;
    border-color: white;
    background-color: rgba(255, 255, 255, 0.854);
}

.search button{
    font-style: unset;
    border-radius: 10px;
    border: none;
    background-color: rgba(255, 255, 255, 0.854);
}

.search select{
    font-style: italic;
    border-radius: 10px;
    border-color: white;
    background-color: rgba(255, 255, 255, 0.854);
}